.chat-main
  .chat-main__group-info
    .current-group
      %p test
      .member-name
        %p Member:ebuchi
    .edit-btn
      =link_to "#" do
        = "Edit"
  .chat-main__message-list
    .message-box
      = render @messages
  .chat-main__message-form
    .new-message
      .input-box 
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          .input-box__image
            = f.label :image, class: 'input-box__image' do
              = icon('fas', 'image')
              = f.file_field :image, class: 'input-box__image__file'
          = f.submit 'Send', class: 'submit-btn'


        -# = form_for [@group, @message] do |f|
        -# = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        -# .input-box__image
        -#   = f.label :image, class: 'input-box__image' do
        -#     = icon('fas', 'image', class: 'input-box__image')
        -#     = f.file_field :image, class: 'input-box__image__file'
        -# = f.submit 'Send', class: 'submit-btn'








      -# %input.input-box__text{name: "text", placeholder: "type a message", type: "text", value: ""}/
      -#   %label{class: "input-box__image"}
      -#     = icon('fas', 'image')
      -#     %input.input-box__image__file{type: "file"}
      -# %input.submit-btn{type: "submit", name: "commit", value: "Send"}/